@import url(root.css);

body {
  min-height: 100vh;
  background-color: var(--background-color);
}

.container {
  padding: 50px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.exam_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#exam_name {
  font-size: var(--header-text);
  font-weight: 600;
}

.exam_timer {
  font-size: var(--other-text);
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.exam_content {
  width: 90vw;
  width: -webkit-fill-available;
  height: 700px;
  background-color: var(--on-background-color);
  margin: auto auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px 0px #00000040;
}

#current_question {
  font-size: var(--medium-text);
}

#question-text {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: var(--large-text);
}

#question-number {
  margin-bottom: 20px;
}

#question_markers_container {
  display: flex;
  justify-content: space-between;
}

.marker {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  transition: ease 0.1ms transform;
}

.marker:hover {
  transform: scale(1.05);
}

.marker.unanswered {
  background-color: var(--light-grey);
}

.marker.answered {
  background-color: var(--green);
}

.marker.displayed {
  background-color: var(--yellow);
}

/* ANSWERS SECTION */

.wrapper p {
  display: inline;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  background-color: var(--on-background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px 0px #00000040;
  height: 100%;
  gap: 15px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  height: 25px;
  width: 25px;
  background-color: var(--background-color);
  padding: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  text-align: center;
  display: block;
}

/* On mouse-over, add a grey background color */
.wrapper:hover input ~ .checkmark {
  background-color: color-mix(
    in srgb,
    var(--primary-color),
    rgba(0, 0, 0, 0.25)
  );
}

/* When the radio button is checked, add a blue background */
.wrapper input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.wrapper .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.answers {
  margin-top: 20px;
}

button {
  border: none;
  padding: 10px;
  transition: transform 0.1s ease;
  background-color: var(--on-background-color);
  cursor: pointer;
  box-shadow: 0px 4px 12px 0px #00000040;
  font-size: var(--medium-text);
  border-radius: 8px;
}

button:hover {
  transform: scale(1.07);
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.navigation-buttons {
  display: flex;
  gap: 1vw;
}

.navigation-buttons button {
  background-color: var(--on-background-color);
  color: var(--dark-text);
}

#endExam {
  background-color: var(--primary-color);
  color: var(--light-text);
  width: 230px;
}
