@import url(root.css);

body {
  background-color: var(--background-color);
}

.answer {
  border: 1px solid black;
}

.question {
  margin: 20px;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 15px;
}

h1 {
  text-align: center;
  color: var(--primary-color);
  font-size: var(--xlarge-text);
}

h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: var(--medium-text);
}
