{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'register.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="content">
      <div class="form-content">
        <h1>Zaloguj się</h1>
        <form action="" method="post">
          {% csrf_token %} {{form}} {% if request.GET.next %}
          <input type="hidden" name="code" value="{{request.GET.next}}" />
          {% endif %}
          <button>Potwierdź</button>
          <p>Nie masz jeszcze konta? <a href="/register">Zarejestruj się</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
