{% load static %} {% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'exam.css' %}" />
    <title>Document</title>
    {% csrf_token %}
    <script>
      if (localStorage.getItem('darkMode') === 'true') {
        document.documentElement.classList.add('dark');
      } else if (localStorage.getItem('darkMode') === 'false') {
        document.documentElement.classList.remove('dark');
      }
    </script>
    <script>
      var currentQuestionIndex = 0;
      const markers = [];
      var questions = getData();
      var testTime = 40 * 60;

      function generateMarkers() {
        const markerParent = document.getElementById(
          'question_markers_container'
        );
        questions.forEach((question, index) => {
          let markerDiv = document.createElement('div');
          markerDiv.classList.add('marker', 'unanswered');
          markerDiv.setAttribute('onclick', `goToQuestion(${index})`);
          markerObj = { id: index, div: markerDiv };
          markers.push(markerObj);
          markerParent.appendChild(markerDiv);
        });
      }

      function displayQuestion() {
        markers[currentQuestionIndex].div.classList.add('displayed');
        let currentQuestion = questions[currentQuestionIndex];

        document.getElementById('current_question').textContent = `Pytanie ${
          currentQuestionIndex + 1
        } z 40`;

        document.getElementById('question-text').textContent =
          currentQuestion.question;

        document.getElementById('label_A').textContent =
          currentQuestion.answer_a;
        document.getElementById('answer_A').value = currentQuestion.answer_a;
        document.getElementById('label_B').textContent =
          currentQuestion.answer_b;
        document.getElementById('answer_B').value = currentQuestion.answer_b;
        document.getElementById('label_C').textContent =
          currentQuestion.answer_c;
        document.getElementById('answer_C').value = currentQuestion.answer_c;
        document.getElementById('label_D').textContent =
          currentQuestion.answer_d;
        document.getElementById('answer_D').value = currentQuestion.answer_d;

        if (currentQuestion.selected_answer !== '') {
          document.getElementsByName('answers').forEach((ele) => {
            if (ele.value === currentQuestion.selected_answer) {
              ele.checked = true;
            }
          });
        }
      }

      function startExam() {
        console.log(questions);
        displayQuestion();
        window.setInterval(() => {
          testTime--;
          if (testTime <= 0) {
            window.onbeforeunload = function () {};
            endExam();
          }
          let timeMinutes = Math.floor(testTime / 60);
          let timeSeconds = testTime - timeMinutes * 60;
          document.getElementById(
            'exam_timer_text'
          ).textContent = `${timeMinutes}:${timeSeconds}`;
        }, 1000);
      }

      function saveCurrentQuestion() {
        if (!document.querySelector('input[name="answers"]:checked')) {
          return;
        }

        let answer = document.querySelector(
          'input[name="answers"]:checked'
        ).value;

        questions[currentQuestionIndex].selected_answer = answer;
        const answerLabels = document.querySelectorAll('.wrapper');
        answerLabels.forEach(function (l) {
          l.classList.remove('active');
        });
        document.getElementById('answer_A').checked = false;
        document.getElementById('answer_B').checked = false;
        document.getElementById('answer_C').checked = false;
        document.getElementById('answer_D').checked = false;
        markers[currentQuestionIndex].div.classList.add('answered');
      }

      function nextQuestion() {
        markers[currentQuestionIndex].div.classList.remove('displayed');
        saveCurrentQuestion();
        currentQuestionIndex = (currentQuestionIndex + 40 + 1) % 40;
        displayQuestion();
      }

      function previousQuestion() {
        markers[currentQuestionIndex].div.classList.remove('displayed');
        saveCurrentQuestion();
        currentQuestionIndex = (currentQuestionIndex + 40 - 1) % 40;
        displayQuestion();
      }

      function goToQuestion(index) {
        markers[currentQuestionIndex].div.classList.remove('displayed');
        saveCurrentQuestion();
        currentQuestionIndex = index;
        displayQuestion();
      }

      async function endExam() {
        saveCurrentQuestion();
        // DEBUG
        console.log('Wysłano pytnia:');
        console.log(questions);
        let headers = new Headers();
        // add header from cookie
        const csrftoken = document.cookie
          .split(';')
          .filter((cookie) => cookie.includes('csrftoken'))[0]
          .split('=')[1];

        headers.append('X-CSRFToken', csrftoken);
        const response = await fetch('/results', {
          method: 'POST',
          body: JSON.stringify({ questions: questions }),
          credentials: 'same-origin',
          headers: headers,
        });
        window.open('/getResults', '_self');
      }

      function getData() {
        const questionsObject = [];
        const questions = JSON.parse('{{ questions|safe }}');
        questions.forEach((question) => {
          questionsObject.push({
            ...question,
            selected_answer: '',
          });
        });
        return questionsObject;
      }

      document.addEventListener('DOMContentLoaded', function () {
        generateMarkers();
        startExam();
      });
    </script>
    <script>
      const answerLabels = undefined;
      document.addEventListener('DOMContentLoaded', function () {
        const answerLabels = document.querySelectorAll('.wrapper');
        answerLabels.forEach((label) => {
          label.addEventListener('click', function () {
            console.log('Clicked label:', this);

            // Remove 'active' class from all labels
            answerLabels.forEach(function (l) {
              l.classList.remove('active');
            });

            // Add 'active' class to the clicked label
            this.classList.add('active');
          });
        });
      });
      window.onbeforeunload = function () {
        return 'Jesteś pewien? Utracisz dotychczasowy postęp, a egzamin wygeneruje się na nowo. ';
      };
    </script>
  </head>
  <body>
    <div class="container">
      <div class="exam_header">
        <p id="exam_name">Egzamin {{examCode}}</p>
        <div class="exam_timer">
          <div id="exam_timer_icon">{%bs_icon 'stopwatch' size="1em" %}</div>
          <span id="exam_timer_text">40:00</span>
        </div>
      </div>
      <div class="questions_markers">
        <p id="current_question"></p>
        <div id="question_markers_container"></div>
      </div>
      <div class="exam_content">
        <p id="question-text"></p>
        <div class="answers">
          <label for="answer_A" class="wrapper">
            {% comment %} content here {% endcomment %}
            <div>
              <input type="radio" name="answers" id="answer_A" required />
              <div class="checkmark">A</div>
            </div>
            <p id="label_A"></p>
          </label>
          <label for="answer_B" class="wrapper">
            {% comment %} content here {% endcomment %}
            <div>
              <input type="radio" name="answers" id="answer_B" required />
              <div class="checkmark">B</div>
            </div>
            <p id="label_B"></p>
          </label>
          <label for="answer_C" class="wrapper">
            {% comment %} content here {% endcomment %}
            <div>
              <input type="radio" name="answers" id="answer_C" required />
              <div class="checkmark">C</div>
            </div>
            <p id="label_C"></p>
          </label>
          <label for="answer_D" class="wrapper">
            {% comment %} content here {% endcomment %}
            <div>
              <input type="radio" name="answers" id="answer_D" required />
              <div class="checkmark">D</div>
            </div>
            <p id="label_D"></p>
          </label>
        </div>
      </div>
      <div class="button-container">
        <button onclick="endExam()" id="endExam">Zakończ egzamin</button>
        <div class="navigation-buttons">
          <button onclick="previousQuestion()" id="previousQuestion">
            Poprzednie pytanie
          </button>
          <button onclick="nextQuestion()" id="nextQuestion">
            Następne pytanie
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
