{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'exam.css' %}" />
    <title>Document</title>
    <script>
      async function getData() {
        const code = "{{examCode}}";
        try {
          const response = await fetch(`/getExam/${code}`);
          const jsonRes = await response.json();
          console.log(jsonRes);
        } catch (error) {
          console.log("ERROR WHILE FETCHING DATA: ", error);
        }
      }
      getData();
    </script>
  </head>
  <body>
    <div class="container">{{examCode}}</div>
  </body>
</html>
