{% load bootstrap_icons %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'landing.css' %}" />
    {% include "template_base.html" %}
    <title>L.E.S.Z.E.K</title>
    <script type="text/javascript">
      function goToCKE() {
        const currentUrl = window.location.href;
        window.open('/cke/login/');
      }
      function goToExam(classificationName) {
        let numberOfQuestions =
          document.getElementById(classificationName).value;
        const currentUrl = window.location.href;
        window.open(
          `/exam?code=${classificationName}&nr=${numberOfQuestions}`,
          '_self'
        );
      }
      function editExam(classificationName) {
        const currentUrl = window.location.href;
        window.open(`/application-form/${classificationName}`, '_self');
      }

      function shuffle(array) {
        let currentIndex = array.length;

        // While there remain elements to shuffle...
        while (currentIndex != 0) {
          // Pick a remaining element...
          let randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex--;

          // And swap it with the current element.
          [array[currentIndex], array[randomIndex]] = [
            array[randomIndex],
            array[currentIndex],
          ];
        }
      }

      function toggleTime(id) {
        let timeID = id + '_time';
        document.getElementById(timeID).innerText =
          document.getElementById(id).value + ' min';
      }

      let authors = ['Piotr Bielański', 'Hubert Drozd'];
      shuffle(authors);
      document.addEventListener('DOMContentLoaded', function () {
        const text = 'Made by ' + authors[0] + ' & ' + authors[1];
        document.getElementById('author-text').textContent = text;
      });
    </script>
  </head>
  <body>
    <dialog>
      <div class="top">
        <h2>UWAGA!</h2>
        <button onclick="closepopUp()">{% bs_icon 'x' size="1rem"%}</button>
      </div>
      <p>
        Ta platforma nie jest powiązana z Centralną Komisją Egzaminacyjną (CKE).
        Jej celem jest edukacja i ćwiczenie umiejętności egzaminacyjnych w
        bezpiecznym i nieformalnym środowisku. Wszystkie treści mają charakter
        pomocniczy i nieoficjalny.
      </p>
    </dialog>
    <header>
      <h1>Platforma egzaminacyjna ZSA-T</h1>
      <div class="wrapper">
        <div class="btn_mock_cke" onclick="goToCKE()">
          {% bs_icon 'box-arrow-up-right' size="1.5rem"%}
          <div>Testowa strona CKE</div>
        </div>
        <div class="switch" id="theme-switch" onclick="toggleDarkMode()">
          {%bs_icon 'brightness-high' size="2rem"%}
        </div>
        {% if user.is_authenticated %}
        <form action="{% url 'logout'%}" method="post" id="logout-form">
          {% csrf_token %}
          <button id="logout-button">
            {% bs_icon 'box-arrow-left' size="2rem"%}
          </button>
        </form>
        {% else %}
        <div class="login-container">
          <a href="{% url 'login'%}"
            >{% bs_icon 'person-circle' size="2rem"%}</a
          >
          {% endif %}
        </div>
      </div>
    </header>

    <div class="content">
      <!-- Automatically generated elements -->
      {% load cache %}
      <!-- ___ -->
      {% cache 1966 sidebar user.is_authenticated classifications %}
      <!-- ___ -->
      {% for classification in classifications %}
      <div class="card">
        <h2>{{classification.code_name}}</h2>
        <div class="quantity_display">{{classification.count}}</div>
        <div class="extra">
          <div class="center">
            {% bs_icon 'file-earmark-text' size="1.5rem" %}
            <select
              name="questions_in_exam"
              class="questions_in_exam"
              id="{{classification.code_name}}"
              onclick="toggleTime(`{{classification.code_name}}`)"
            >
              <option value="40">40 pytań</option>
              <option value="20">20 pytań</option>
            </select>
          </div>
          <div class="center">
            {% bs_icon 'clock' size="1.5rem" %}
            <span
              ><select class="unselectable" disabled>
                <option value="" id="{{classification.code_name}}_time">
                  40 min
                </option>
              </select></span
            >
          </div>
        </div>
        {% if user.is_authenticated %}
        <button
          class="btn-exam"
          onclick="editExam('{{classification.code_name}}')"
        >
          Redaguj egzamin
        </button>
        {% else %}
        <button
          class="btn-exam"
          onclick="goToExam('{{classification.code_name}}')"
        >
          Rozpocznij egzamin
        </button>
        {% endif %}
      </div>
      {% endfor %} {% endcache %}
    </div>
    <div class="footer">
      <span id="author-text"> </span>
      <a class="normal-link" href="/polityka-prywatnosci" target="_blank"
        >Polityka Prywatności</a
      >
    </div>
  </body>
</html>
